/* Global styles */

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face 
{
    font-family: 'Norse-Bold';
    src: url(Norse-Bold.otf);
}

h2 {
    padding: 1.5rem 0;
    color: #333;
    font-size: 2rem;
    letter-spacing: 0.5px;
    font-weight: 500;
    font-family: quicksand, sans-serif; 
}

.shadow {
    box-shadow: 0px 5px 8px #ddd;
}

.container {
    display: grid;
    grid-template-columns: 40% 60%;
    height: 100vh;

}

/* left Col */

.left-col {
    background: center / cover no-repeat url(img/zac-ong-V3j7yy3CzqU-unsplash.jpg)
}

.overlay 
{
    position: relative;
    top: 15rem;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.51);
    height: 15%;
    width: 100%;
    padding: 1rem;
}

span {
    font-family: 'Norse-Bold';
    color: white;
    font-size: 5rem;
    align-self: center;
}

.caption-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caption {
    display: block;
    position: absolute;
    bottom: 0;
    padding-bottom: 1rem;
}

.caption, a {
    color: white;
}

/* Right col */

.right-col {

    flex: 6.5;
    background-color: rgb(249, 250, 251);
}

.text-container {
    padding: 0 2.5rem;
    margin: 4rem 0;
}

.lead {
    font-family: sans-serif;
    font-size: 1.50rem;
    margin-bottom: 1rem;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    width: 100%;
}

.form {
    background-color: #ffffff;
    margin-bottom: 2rem;
    padding: 2.5rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-label {
    display: inline-block;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 500;
    font-family: sans-serif;
    text-transform: uppercase;
    color: grey;
    margin-bottom: .75rem;
}

.form-control {
    width: 100%;
    height: 2.5;
    padding: .5rem;
    margin-bottom: .75rem;
    border: 0.8px solid rgb(213, 213, 213);
    display: block;
    border-radius: 10px;
    background: rgb(247, 247, 247);
    box-shadow: rgba(26, 26, 26, 0.1) 0px 2px 5px 0px inset;
    font-size: 1rem;
    font-family: quicksand, sans-serif;
    font-weight: 500;
    color: rgb(100, 100, 100);

}

.form-control:focus {
    outline: 0;
    border-color: #86b6fea2;
    box-shadow: 0 0 0 .25rem rgba(106, 154, 227, 0.25);
   
}

.form-control:invalid {
    outline: 0;
    border-color: #9a3730;
    box-shadow: 0 0 0 .25rem rgba(252, 57, 8, 0.25);
}

.btn-container {
    padding: 0 2.5rem;
    margin-top: 2.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.btn {
    padding: .5rem;
    margin: .5rem 0;
    width: 25%;
    height: 2.75rem;
    border-radius: 1rem;
    border: 0.8px solid rgb(213, 213, 213);
    font-family: quicksand, sans-serif;
    font-size: 1rem;
    text-transform: capitalize;
    color: white;
    background-color: rgb(111, 198, 111);
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: rgb(24, 110, 24);
}



@media (max-width: 800px)
{
    .container {
        grid-template-columns: 1fr;
        width: auto;
    }


}

